/* Estilos CSS */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.section {
    width: 300px;
    height: 200px;
    margin: 20px;
    padding: 20px;
    background-color: #222;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.5s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.section:hover {
    transform: translateY(-10px);
}

.section h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
}

.section p {
    margin: 0;
    font-size: 14px;
    text-align: center;
}

.section a {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #FF4500;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.section a:hover {
    background-color: #FF6347;
}
